body {
    color: #5687;
}
pre {
    text-align: left;
    color: #000000; 
    font-family: courier; 
    border:2px solid #000000;
    padding-left: 0px;
    margin-left: px;
    margin-right: 65px;
}

